body
{
	font-family: serif;
	font-size: 24px;
	padding: 0;
	margin: 0;
}

header
{
	font-size: 24px;
	background: #fc0;
	padding: 10px;
	font-family: sans-serif;
}

main
{
	padding: 5px;
	max-width: 500px;
	margin: auto;
}

table.sudoku
{
	font-size: 24px;
	line-height: 36px;
	border-collapse: collapse;
	margin: 10px;
}

table.sudoku > tbody > tr:nth-of-type(3n)
{
	border-bottom: 2px solid black;
}

table.sudoku > tbody > tr:nth-of-type(1)
{
	border-top: 2px solid black;
}

table.sudoku > tbody > tr > td
{
	width: 36px;
	height: 36px;
	text-align: center;
	border: 1px solid black;
}

table.sudoku > tbody > tr > td:nth-of-type(3n)
{
	border-right: 2px solid black;
}

table.sudoku > tbody > tr > td:nth-of-type(1)
{
	border-left: 2px solid black;
}

table.notes
{
	border-collapse: collapse;
}

table.notes td
{
	margin: 0;
	padding: 0;
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
}

table.notes tr
{
	border: none;
}

div.tiny table.sudoku
{
	font-size: 12px;
	line-height: 18px;
}

div.tiny table.sudoku > tbody > tr > td
{
	width: 18px;
	height: 18px;
}

.given
{
	font-weight: bold;
}

.error
{
	color: #400;
	background: #fcc;
}

.diff
{
	color: #004;
	background: #ccf;
}

.puzzle-string
{
	font-size: 8px;
}

ul.puzzles
{
	list-style:none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 48px;
	bottom: 0;
	right: calc( 50% + 250px );
}

ul.puzzles li
{
	margin: .25em;
	padding: .25em;
	background: #fe8;
}

ul.puzzles li:hover
{
	background: black;
	color: white;
}
